---
import Layout from '../layouts/Layout.astro';
import CatalogoInteractivo from '../components/CatalogoInteractivo.jsx';
import { client } from "../lib/sanity";

const plantas = await client.fetch(`*[_type == "producto"] {
  nombre,
  imagen,
  categoria,
  sol,
  riego,
  ubicacion,
  precio
}`);

const categorias = [
  "Todo",
  "Interior",
  "Exterior",
  "Aromáticas",
  "Huerta",
  "Tierra",
  "Frutales",
  "Macetas"
];
---

<Layout title="Vivero Belgrano Norte - Catálogo">
  <div class="max-w-7xl mx-auto px-6 py-12">
    <CatalogoInteractivo 
        client:load 
        plantasIniciales={plantas} 
        categorias={categorias} 
    />
  </div>
</Layout>